body{
    font-family: "Inter", sans-serif !important;
    background-color: #f4f4f4;
    padding: 0;
}

header {
    width: 100%;
    display: flex !important;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 15px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav {
    display: contents !important;
}

.home:hover {
    text-decoration: none !important;
}

h1 {
    font-size: 1.8rem !important;
    font-weight: 600 !important;
    color: #0066cc;
}

main {
    padding: 65px 80px 30px 90px;
}